{% extends './base.html.twig' %}

{% block title %} ERROR 404 - Not Found {{ parent() }}{% endblock %}


{% block body %}
    <div class="container container-extra">
        <div class="content" style="text-align:center;">
            Error 403 - Access is denied
        </div>
    </div>
{% endblock %}